@import "tailwindcss";
/* font import */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family:  "Inter", serif;
}

/* color pallate code style Here  */
.text-color{
    color: #FFA500;
  }
.text-color2{
    color: #5E2CA5;
  }
.font-color{
    color: rgb(3, 3, 3);
  }
.paragraph-color{
    color: rgb(70, 69, 69);
}